cite,
dfn {
  font-style: inherit;
}
q {
  quotes: '"' '"' "'" "'";
}
.checkuser-show,
.sysop-show,
.templateeditor-show,
.extendedmover-show,
.patroller-show,
.extendedconfirmed-show,
.autoconfirmed-show {
  display: none;
}
.flagicon img {
  min-width: 23px;
}
.cnotice {
  margin-bottom: 0 !important;
}
.content .mw-parser-output .infobox-header,
.content .mw-parser-output .infobox-subheader,
.content .mw-parser-output .infobox-above,
.content .mw-parser-output .infobox-title,
.content .mw-parser-output .infobox-image,
.content .mw-parser-output .infobox-full-data,
.content .mw-parser-output .infobox-below {
  text-align: center;
}
.mw-parser-output .nowrap,
.nowraplinks a {
  white-space: nowrap;
}
.mw-parser-output .infobox .nowrap {
  white-space: normal !important;
}
.wrap,
.wraplinks a {
  white-space: normal;
}
span.texhtml {
  font-family: serif;
  white-space: nowrap;
}
.wikitable.plainrowheaders th[scope="row"],
.wikitable.plainrowheaders th[scope="rowgroup"] {
  font-weight: normal;
  text-align: left;
}
@media screen {
  html.skin-theme-clientpref-night .navbox a:not(.new):not(.mw-selflink):link,
  html.skin-theme-clientpref-night .infobox a:not(.new):not(.mw-selflink):link {
    color: var(--color-progressive) !important;
  }
  html.skin-theme-clientpref-night .mw-parser-output section > figure img,
  html.skin-theme-clientpref-night .mw-parser-output section > div > figure img,
  html.skin-theme-clientpref-night .mw-parser-output > figure img {
    background: var(--background-color-disabled-fixed, #c8ccd1);
  }
}
@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os .navbox a:not(.new):not(.mw-selflink):link,
  html.skin-theme-clientpref-os .infobox a:not(.new):not(.mw-selflink):link {
    color: var(--color-progressive) !important;
  }
  html.skin-theme-clientpref-os .mw-parser-output section > figure img,
  html.skin-theme-clientpref-os .mw-parser-output section > div > figure img,
  html.skin-theme-clientpref-os .mw-parser-output > figure img {
    background: var(--background-color-disabled-fixed, #c8ccd1);
  }
}
